body {
    background-color: #878077;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    padding: 0;
    width: 100%;
}

.navigation{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    color: whitesmoke;
 
}
.Navlinks{
    color: white;
}
.Navlinks > a{
    color: white;
    text-decoration: none;
    margin: 16px;
}

.hero {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroscontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
}

.heroscontent h1 {
    color: rgb(213, 228, 243);
    font-size: xx-large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mission{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.reject{
    background-color: #948d83;
    width: 25%;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}
.team{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.act{
    background-color: #948d83;
    width: 25%;
    padding: 15px;
    border-radius: 15px;
    text-align: center;  
}
.act > img{
    width: 100%;
    height: auto;
}

.contact {
    margin-bottom: 2rem;
}

h1,
h2 {
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

blockquote {
    font-style: italic;
    color: #555;
    border-left: 5px solid #ccc;
    padding-left: 1rem;
    margin: 1rem 0;
} 
