body{
    background-color: #dcaa68;
}
.contact-page {
    width: 80%;
    margin: auto;
    padding: 2rem;

}
.navigation{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    color: whitesmoke;
 
}
.Navlinks{
    color: white;
}
.Navlinks > a{
    color: white;
    text-decoration: none;
    margin: 16px;
}


.contact-page h1 {
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin-bottom: 0.5rem;
}

.contact-form input, .contact-form textarea {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

.contact-form input[type="submit"] {
    background-color: grey;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form input[type="submit"]:hover {
    background-color: darkgray;
}

.contact-info {
    margin-top: 2rem;
}

.contact-info p {
    margin-bottom: 0.5rem;
}
footer{
    width: 70%;
    color: black;
    margin: auto;
    margin-top: 6rem;
}
.footer-section{
    display: flex;
    justify-content: space-between;
}