body{
    background-color: #ae7f4d;
}
.navigation{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    color: whitesmoke;
 
}
.Navlinks{
    color: white;
}
.Navlinks > a{
    color: white;
    text-decoration: none;
    margin: 16px;
}
.hero{
    width: 100%;
    height: 88vh;
    overflow: hidden;
    position: relative;

}
.hero img{
    width: 100%;
    height: 100%;
    display: block;
}
.heroscontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: whitesmoke;
}
h1{
    color:black ;
}
.heroscontent h1{
    color: rgb(213, 228, 243);
    font-size: 100px;
}
.heroscontent p{
    color: aliceblue;
    font-size: 60px;
}
.heroscontent button{
margin: 8px;
padding: 12px;
font-size: 30pxx;
border: none;
color: rgb(250, 243, 234);
background-color: grey;
}
/* .heroscontent button:hover{

} */
.search{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    
}

.search > input{
    width: 30%;
    padding: 10px;
    border-radius: 9999px;
}
.search > button{
    padding: 10px;
    border-radius: 9999px;
    background-color: gray;
    color: whitesmoke;

}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column{

    flex: 25%;
    max-width: 25% ;
    padding: 0 4px;
}
.column > img{
    margin-top: 8px;
    width: 100%;
    vertical-align: middle;
}
.holiday-cards{
    width: 70%;
    margin: auto;
    color: black;
    margin-top: 50px;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card > img{
    width: 100%;
    height: auto;
}
.card content{
    margin: 8px 0;
    font-size: 18px;    
}
.card{
    background-color: azure;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px 0;
    width: 30%;
    color: black;
}
.cardcontent{
    padding: 16px;
    text-align: center;
}
.cardcontent > h2{
    margin: 0 0 8px;
}
.cardcontent > p{
    margin: 8px;
    font-size: 18px;
}
.cardcontent > button{
    margin: 8px 0;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
}
.cardcontent > button::hover{
    background-color: white;
}
footer{
    width: 70%;
    color: black;
    margin: auto;
    margin-top: 6rem;
}
.footer-section{
    display: flex;
    justify-content: space-between;
}